@import '../../styles/vars.scss';
@import '../../styles//mix-ins.scss';


  .paginationButton{
    @include button;
  }

  button.next{
    position: absolute;
    right: 25px;
    bottom: 0;
  }

  button.previous{
    position: absolute;
    left: 25px;
    bottom: 0;
  }