@import '../styles/vars.scss';

@mixin dFlex($dir, $just, $align) {
  display: flex;
  flex-direction: $dir;
  justify-content: $just;
  align-items: $align;
}

@mixin button{
  @include dFlex(row, center, center);
  padding: 0.5% 4%;
  font-size: $pSize+0.2;
  border: none;
  box-shadow: 1px 1px 2px #aaa;
  border-radius: 5px;
  color: $buttonColor;
  backGround-color: $buttonBgColor;

  &:hover{
    cursor: pointer;
    backGround-color: $buttonBgHoverColor;
    color: $buttonHoverColor;
  }
}