@import '../styles/vars.scss';

@mixin dFlex($dir, $just, $align) {
  display: flex;
  flex-direction: $dir;
  justify-content: $just;
  align-items: $align;
}

@mixin button{
  border: none;
  font-size: $pSize;
  box-shadow: 1px 1px 2px #aaa;
  padding: 0.5% 3%;
  border-radius: 5px;
  color: $buttonColor;
  backGround-color: $buttonBgColor;
  @include dFlex(row, center, center);
  
    &:hover{
      cursor: pointer;
      backGround-color: $buttonBgHoverColor;
      color: $buttonHoverColor;
    }
}