// THEME COLORS ******
$blue: rgba(186, 206, 231, 0.8);
$orange: rgba(177, 107, 70, 0.8);
$transBlack: rgba(0, 0, 0, 0.8);
$gray: darkGray;

// ****

$paginationBgColor: $orange;
$paginationColor: black;
$paginationHoverColor: white;

// ****

$cardBgColor: $transBlack;

// ****
$textFamily: 'Poppins', sans-serif;
$headingFamily: 'Abril Fatface', cursive;

// ****
$headerBg: $blue;

// ********************* FONTS ********************* //

// FONT COLORS *****
$pColor: $gray;
$aColor: $blue;

$h1Color: $orange;
$h2Color: $blue;
$h3Color: $gray;
$h4Color: $gray;
$h5Color: $gray;


//  FONT SIZES *****
$smallSize: 1rem;

$pSize: 1.4rem;
$aSize: 1.4rem;

$h1Size: 4.5rem;
$h2Size: 2.5rem;
$h3Size: 1.8rem;
$h4Size: 1.4rem;
$h5Size: 1.4rem;