@import '../../styles/vars.scss';
@import '../../styles//mix-ins.scss';

.card{
  @include dFlex(column, center, center);
  background-color: $cardBgColor;
  width: 30%;
  opacity: 0.8;
  padding: 1%;
  margin: 3% 0 0 2%;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #aaa;

  &:first-child{
    margin-left: 0;
  }

  h2{
    font-size: $h2Size;
    color: $h2Color;
    width: 100%;
    text-align: center;
    margin: 0 0 1% 0;
  }

  p{
    font-size: $pSize;
    color: $pColor;
  }
}//end card